# example /etc/nginx/conf.d/poky.conf
upstream poky_backend {
    server 127.0.0.1:9091;
    keepalive 32;
}


server {
    listen 80;

    location / {
        if (-f /etc/nginx/maint/poky) {
          return 503;
        }
        proxy_pass http://poky_backend;
    }

    location /nginx_status {
        stub_status on;
        access_log off;
    }

    access_log  /var/log/nginx/poky.access.log main;
}
